*{
  box-sizing: border-box;
}

.smallText {
  font-size: 0.8rem;
}

body {
  margin: 0;
  color: #000;
  display: relative;
  font-family: 'roboto', sans-serif;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  
}

.explore-section {
  margin-top: 20px
}

.explore-section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 3rem;
  color: rgb(0, 0, 0);
}
.wrapper{
  position: absolute;
  width: 400px;
  height: 540px;
  background: transparent;
  border: 2px solid rgba(85, 231, 90, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 20%;
  left: 35%;
  z-index: 99;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  height: 90%;
  padding: 20px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162983;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 2em;
  color: #011e48;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #162983;
  margin: 30px 0;

}
.input-box label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: #162983;
  font-weight: 500;
  pointer-events: none;
  transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
  top: -5px;
}

.input-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1em;
  color: #162983;
  font-weight: 600;
  padding: 0 35px 0 5px;
}
.input-box .icon {
  position: absolute;
  right: 8px;
  font-size: 1.2em;
  color: #000000;
  line-height: 57px;
}

.remember-forgot {
  font-size: .9em;
  color: #162983;
  font-weight: 500;
  margin: -15px 0 15px;
  display: flex;
  justify-content: space-between;
}

.remember-forgot label input {
  accent-color: #162983;
  margin-right: 3px;
}

.remember-forgot a {
  color: #162983;
  text-decoration: none;
}

.remember-forgot a:hover {
  text-decoration: underline;
}

.btn {
  width: 100%;
  height: 45px;
  background: #162983;
  border: none;
  outline: none;
  border-radius: 22px;
  cursor: pointer;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
}

.login-register {
  font-size: .9em;
  color: #162983;
  text-align: center;
  font-weight: 500;
  margin: 25px 0 10px;
}

.login-register p a{
  color: #162983;
  text-decoration: none;
  font-weight: 600;
}

.login-register p a:hover {
  text-decoration: underline;
}

.category-list {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  display: flex;
}

.category-item {
  margin-left: 2rem;
  text-align: center;
  padding: 0;
}

.category-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.category-name {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgb(0, 0, 0);
}


/*.container {
  width: 100%;
  margin-left: 0;
}

header {
  margin-left: 3.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}*/

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  
}

.navbar a{
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
}

.logo {
  margin-left: 3.5rem;
  font-size: .7em;
  font-weight: bold;
  color: #000;
  margin-top: 1.5rem;
}


.login-button {
  background-color: #000000;
  border-radius: 22px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  border: none;
  display: inline-block;
  font-size: 16px; 
  margin-right: 10px;
}

.login-button:hover {
  opacity: 0.8;
  background-color: #e6e2e2;
  color: #000000;
  cursor: pointer;
}

.job-search-form {
  width: 100%;
  max-width: 800px;
  margin: 30px auto;
}

.search-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f2f2f2;
  border-radius: 40px;
  height: 40px;
  padding: 5px 5px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.search-bar-inner {
  display: flex;
  align-items: center;
}

input[type="text"] {
  width: 300px;
  height: 40px;
  padding: 5px 10px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  color: #333;
}

.submit button{
  font-size: 10px;
  height: 34px;
  background-color: rgb(6, 86, 224);;
  color: #fff;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}

.submit:hover {
  background-color: #0d23c8;
  border-radius: 22px;
}

.fa-search,
.fa-map-marker {
  color: #fff;
}

@media screen and (max-width: 480px) {
  .job-search-form {
    max-width: 100%;
    padding: 0 20px;
  }
  
  input[type="text"], button[type="submit"] {
    height: 50px;
    font-size: 18px;
  }
  
  .submit button{
    font-size: 1rem;
    width: 100%;
    height: 34px;
  }
  
  .search-bar-container {
    height: auto;
    border-radius: 40px;
    box-shadow: none;
    flex-direction: column;
  }
  
  .search-bar-inner {
    margin-bottom: 30px;
    width: 100%;
  }
}


  /*.padding-left: 15px;
  margin-top: 35px;
}
container1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.auth-buttons {
  width: 150px;
  float: right;
}

.logo h1 {
  font-weight: 300;
  font-family: 'cursive';
}*/

.logo h1 span {
  color: #06c167;
  font-weight: 600;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn >
span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn >
span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn >
span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
} 
.menu__btn {
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #161717;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  list-style: none;
  top: 0;
  left: -100%;
  width: 230px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  text-decoration: none;
  padding: 12px 24px;
  color: #333;
  font-family: 'roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #7068bd;
  border-radius: 18px;
}

header .container{
  display: flex;
}

.options {
  padding: 2rem 0;
  margin-left: 0;
}

.options .options-btn {
  background: #ddd;
  padding: 0.7rem 1.2rem;
  border-radius: 30px;
  border: 0;
  font-size: 0.9rem;
  letter-spacing: 0.6px;
  display: inline-flex;
  align-items: center;
  margin-left: 3rem;
}

.options  .selected {
  background: black;
  margin-left: 1.9rem;
  color: #ffffff;
}

.listings {
  padding: 1rem; /*make it to 1 in github*/
}

.listings .header {
  display: flex;
  align-items: center;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: #000000;
}

.header-title span {
  color: rgba(84, 84, 84);
}

.listings .header-viewOptions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.listings .viewAll {
  color: #06c167;
  padding-right: 2rem;
}

.listings .viewMore .arrow {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(225, 225, 225);
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.circle {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  display: inline-flex;
}

.listings-grid {
   margin-left: 1rem;
   margin: 0;
   display: flex;
   overflow: hidden;
   overflow-x: scroll;
   scroll-snap-type: mandatory;
   scroll-behavior: smooth;
}

.listings-grid::-webkit-scrollbar {
  display: none;
}

.listings-grid .listings-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: start;
  margin-left: 15px;
}


.listings .darker:hover {
  opacity: 1;
}

.listings-grid .listings-grid-element {
  width: calc(1 / 3 * 100% - (1 - 1 / 3) * 2px);
  margin-top: 2rem;
  padding-right: 20px;
}

/*.listings-grid-element {
  padding-right: 0;
}*/

.listings-grid-element img {
  height: 240px;
  overflow: hidden;
}

.listings-grid-element .text h3 {
  font-weight: 400;
  margin-bottom: 0.3rem;
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.text-lower {
  padding: 0.7rem 0;
  font-weight: 300;
}

.text {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.text h3{
  font-weight: 400;
  margin-bottom: 0.3rem;
  margin-top: 0;
}

.info span {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(122, 121, 121);
}
 
.rating {
  margin: auto 0 auto auto;
   height: 100%;
}

.rating .btnply {
  font-size: 1.2rem;
  padding: 10px;
  background-color: #2264f4;
  color: rgb(235, 233, 233);
  border-radius: 30px;
  border: none;
 
}

.rating .btnply:hover {
  background: black;
  color: #ffffffd8;

}
#aboutus{
  text-decoration: none;
  margin-top: 20px;
  background: #ffffff;
  border-style: none;
  align-items: center;
  text-align: center;
  padding: 15px;
  /*box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);*/
}

footer {
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  background-color: #ffffff;
  padding: 20px;
}

footer h4{
  margin-top: 0;
}

footer span{
  color: #06c167;
}
.wrld {
  text-align: center;
  font-size: 24px;
}
.world {
  display: inline-block;
  position: relative;
  font-size: 40px; /* Increase the font size to make the emoji larger */
}
.world::before {
  content: "🌍";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.wrappa {
  display: flex;
  align-items: center;
  justify-content: center;
}

h4{
  text-align: center;
}

.wrappa .icon {
  margin: 10px 17px;
  text-align: center;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrappa .icon span {
  display: block;
  height: 80px;
  width: 80px;
  background: #fff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.336);
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrappa .icon span i {
  line-height: 80px;
  font-size: 30px;
  color: #000000;
  transition: 0.5s;
}

.wrappa .icon span i:hover {
  color: #fff;
}

.icon:hover {
  transform: translateY(-12px);
}

.wrappa .icon:hover .tooltip {
  top: -70px;
  opacity: 0;
  pointer-events: auto;
}

.wrappa .icon:hover span {
  color: #fff;
}

.wrappa .icon:hover span,
.wrappa .icon:hover .tooltip {
  text-shadow: 0px -1.5px 0px rgba(0, 0, 0, 0.415);
}

.wrappa .facebook:hover span {
  background: #3564c9;
}

.wrappa .twitter:hover span {
  background: #0ba2e3;
}

.wrappa .instagram:hover span {
  background: #e52766;
}

.wrappa .whatsapp:hover span {
  background: #25ac3a;
}

.wrappa .linkedin:hover span {
  background: #0077b5;
}

@media (max-width: 600px) {
  .wrappa .icon span{
    height: 40px;
    width: 40px;
  }

  .wrappa .icon span i {
    font-size: 25px;
    line-height: 40px;
}
}

/* Adjust styles for screens smaller than 600px*/
@media only screen and (max-width: 600px) {
  .wrapper{
  position: absolute;
  width: 100%;
  max-width: 400px;
  height: 540px;
  background: transparent;
  border: 2px solid rgba(85, 231, 90, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(40px);
  box-shadow: 0 0 30px rgba(0,0,0,.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
}

.wrapper.active-popup {
  transform: scale(1);
}

.wrapper .form-box {
  width: 100%;
  height: 90%;
  padding: 20px;
}

.wrapper .form-box.login {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper.active .form-box.login{
  transition: none;
  transform: translateX(-400px);
}

.wrapper .form-box.register {
  position: absolute;
  transition: none;
  transform: translateX(400px);
}

.wrapper.active .form-box.register {
  transition: transform .18s ease;
  transform: translateX(0);
}

.wrapper .icon-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 45px;
  height: 45px;
  background: #162983;
  font-size: 2em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.form-box h2 {
  font-size: 1.5em;
  color: #011e48;
  text-align: center;
}

.input-box {
  position: relative;
  width: 100%;
  height: 40px;
  border-bottom: 2px solid #162983;
  margin: 20px 0;
}
.input-box label {
  position: absolute;
  top: 10px;
  left: 5px;
  font-size: 0.9em;
  color: #162983;
  font-weight: 500;
}
}
@media only screen and (max-width: 768px) {
  .explore-section h3 {
    font-size: 1rem;
    margin-left: 2.4rem;
  }

  .category-item {
    margin-left: 1rem;
  }

  .category-item img {
    width: 55px;
    height: 55px;
    margin-bottom: 5px;
  }

  .category-name {
    font-size: 12px;
  }

  .category-list {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

  .logo h1 {
    font-size: 1.1rem;
    margin-top: 1.5em;
  }

  .login-button {
    width: 70px;
    padding: 10px; /* adjust padding */
    font-size: 1rem; /* adjust font size */
    text-align: center;
  }

  .container {
    max-width: 100%;
    width: 100%;
  }

  .menu__box {
    width: 65%;
  }
  .menu__item {
    font-size: .8rem;
  }
  .menu__btn {
    font-size: 1rem;
    top: 3.4rem;
    left: 1.5rem;
    width: 16px;
    height: 16px;
  }
  .menu__item:hover {
    background-color: #848484;
  }

  .container {
    max-width: 100%;
    max-height: 100%;
  }
  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .options .options-btn {
    margin: 1rem 0;
    padding: 10px;
    align-items: center;
    justify-content: center;
    font-size: .8rem;
    width: 20%;
    text-decoration: none;
  }
  .options .selected {
    margin: 1rem 0;
    padding: 10px;
    width: 30%;
  }
  .options-btn:first-child {
    margin-right: 1rem;
    margin-left: 1.8rem;
  }
  .header-title h2 {
    font-size: 1rem;
    margin-left: 15px;
  }
  .listings .viewAll {
    padding-right: 1rem;
  }
  .listings .viewMore .arrow {
    width: 20px;
    height: 20px;
  }
  .listings .viewMore .left {
    display: none;
  }
  .listings .viewAll {
    padding: 5px;
    font-size: .7rem;
  }
  .listings .viewMore .arrow {
    width: 20px;
    height: 20px;
    margin: 0 0.25rem;
  }
  .listings .header {
    flex-wrap: wrap;
  }
  .header-title span {
    font-size: .7rem;
    margin-left: 15px;
  }
  .circle {
    width: 20px;
    height: 20px;
  }
  .listings-grid {
    overflow-x: auto;
  }
  
 .listings-grid::-webkit-scrollbar {
   display: none;
}

.listings-grid .listings-col {
  margin-left: 0;
  padding: 0px;
}

.listings-grid-element {
  width: 100%;
  margin-top: 1rem;
  padding-right: 0;
}

.listings-grid-element img {
  height: 170px;
  max-height: 200px;
  border-radius: 12px;
}

.text {
  font-size: .5rem;
  flex-direction: column;
  border-bottom: none;
}

.text h3 {
  margin-top: 0;
}

.text-title {
  margin-bottom: .3rem;
}

.text-lower {
  display: none;
}

.info span {
  font-size: .7rem;
}

.rating {
  margin-left: 10px;
  height: 17px;
  margin-top: .4rem;
}

.rating .btnply {
  font-size: .7rem;
  border-radius: 22px;
  width: 100px;
}

.rating .btnply:hover {
  background: black;
  color: #ffffffd8;
}666666iiiiiiiipppppppppppppppo9

.about button{

}

.contactus button{
   
}
}
