*{
  box-sizing: border-box;
}

.smallText {
  font-size: 0.8rem;
}

body {
  margin: 0;
  color: #000;
  display: relative;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'roboto', sans-serif;
}

.explore-section {
  margin-top: 20px
}

.explore-section h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: 3rem;
  color: rgb(0, 0, 0);
}

.category-list {
  list-style: none;
  margin-top: 2rem;
  padding: 0;
  display: flex;
}

.category-item {
  margin-left: 2rem;
  text-align: center;
  padding: 0;
}

.category-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.category-name {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: rgb(0, 0, 0);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  margin-left: 3.5rem;
  font-size: .7em;
  font-weight: bold;
  color: #000;
  margin-top: 1.5rem;
}

.login-button {
  background-color: #000000;
  border-radius: 22px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px; 
  margin-right: 10px;
}

.login-button:hover {
  opacity: 0.8;
  background-color: #e6e2e2;
  color: #000000;
  cursor: pointer;
}

.logo h1 span {
  color: #06c167;
  font-weight: 600;
}
#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn >
span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn >
span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn >
span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
} 
.menu__btn {
  position: absolute;
  top: 3.5rem;
  left: 1rem;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 1;
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #161717;
  transition-duration: .25s;
}
.menu__btn > span::before {
  content: '';
  top: -8px;
}
.menu__btn > span::after {
  content: '';
  top: 8px;
}
.menu__box {
  display: block;
  position: fixed;
  list-style: none;
  top: 0;
  left: -100%;
  width: 230px;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  background-color: #ffffff;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
  transition-duration: .25s;
}

.menu__item {
  display: block;
  text-decoration: none;
  padding: 12px 24px;
  color: #333;
  font-family: 'roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;
  transition-duration: .25s;
}

.menu__item:hover {
  background-color: #7068bd;
  border-radius: 18px;
}

header .container{
  display: flex;
}

.options {
  padding: 2rem 0;
  margin-left: 0;
}

.options .options-btn {
  background: #ddd;
  padding: 0.7rem 1.2rem;
  border-radius: 30px;
  border: 0;
  font-size: 0.9rem;
  letter-spacing: 0.6px;
  display: inline-flex;
  align-items: center;
  margin-left: 3rem;
}

.options  .selected {
  background: black;
  margin-left: 1.9rem;
  color: #ffffff;
}

.listings {
  padding: 1rem; /*make it to 1 in github*/
}

.listings .header {
  display: flex;
  align-items: center;
}

h2 {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  margin-top: 0;
  color: #000000;
}

.header-title span {
  color: rgba(84, 84, 84);
}

.listings .header-viewOptions {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.listings .viewAll {
  color: #06c167;
  padding-right: 2rem;
}

.listings .viewMore .arrow {
  width: 40px;
  height: 40px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: rgb(225, 225, 225);
  opacity: 0.3;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.circle {
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  display: inline-flex;
}

.listings-grid {
   margin-left: 1rem;
   margin: 0;
   display: flex;
   overflow: hidden;
   overflow-x: scroll;
   scroll-snap-type: mandatory;
   scroll-behavior: smooth;
}

.listings-grid::-webkit-scrollbar {
  display: none;
}

.listings-grid .listings-col {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; 
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 100%;
  scroll-snap-align: start;
  margin-left: 15px;
}


.listings .darker:hover {
  opacity: 1;
}

.listings-grid .listings-grid-element {
  width: calc(1 / 3 * 100% - (1 - 1 / 3) * 2px);
  margin-top: 2rem;
  padding-right: 20px;
}

/*.listings-grid-element {
  padding-right: 0;
}*/

.listings-grid-element img {
  height: 240px;
  overflow: hidden;
}

.listings-grid-element .text h3 {
  font-weight: 400;
  margin-bottom: 0.3rem;
  max-width: 180px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.text-lower {
  padding: 0.7rem 0;
  font-weight: 300;
}

.text {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 1rem 0;
}

.text h3{
  font-weight: 400;
  margin-bottom: 0.3rem;
  margin-top: 0;
}

.info span {
  font-size: 0.8rem;
  font-weight: 300;
  color: rgb(122, 121, 121);
}
 
.rating {
  margin: auto 0 auto auto;
   height: 100%;
}

.rating .btnply {
  font-size: 1.2rem;
  padding: 10px;
  background-color: #2264f4;
  color: rgb(235, 233, 233);
  border-radius: 30px;
  border: none;
 
}

.rating .btnply:hover {
  background: black;
  color: #ffffffd8;

}

@media only screen and (max-width: 768px) {
  .explore-section h3 {
    font-size: 1rem;
    margin-left: 2.4rem;
  }

  .category-item {
    margin-left: 1rem;
  }

  .category-item img {
    width: 55px;
    height: 55px;
    margin-bottom: 5px;
  }

  .category-name {
    font-size: 12px;
  }

  .category-list {
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }

 .logo h1 {
    font-size: 1.1rem;
    margin-top: 1.5rem;
  }

  .login-button  {
    width: 70px;
    padding: 0.25rem 0.5rem; /* adjust padding */
    font-size: 0.8rem; /* adjust font size */
  }

  .container {
    max-width: 100%;
    width: 100%;
  }

  .menu__box {
    width: 50%;
  }
  .menu__item {
    font-size: .8rem;
  }
  .menu__btn {
    font-size: 1rem;
    top: 3.4rem;
    left: 1.5rem;
    width: 16px;
    height: 16px;
  }
  .menu__item:hover {
    background-color: #848484;
  }

.container {
  max-width: 100%;
  max-height: 100%;
  
}
.options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.options .options-btn {
  margin: 1rem 0;
  padding: 10px;
  align-items: center;
  justify-content: center;
  font-size: .8rem;
  width: 20%;
}

.options .selected {
  margin: 1rem 0;
  padding: 10px;
  width: 30%;
  text-decoration: none;
}

.options-btn:first-child {
  margin-right: 1rem;
  margin-left: 1.8rem;
}

.header-title h2 {
  font-size: 1rem;
  margin-left: 15px;
}
.listings .viewAll {
  padding-right: 1rem;
}
.listings .viewMore .arrow {
  width: 20px;
  height: 20px;
}

.listings .viewMore .left {
  display: none;
}

.listings .viewAll {
  padding: 5px;
  font-size: .7rem;
}

.listings .viewMore .arrow {
  width: 20px;
  height: 20px;
  margin: 0 0.25rem;
}

.listings .header {
  flex-wrap: wrap;
}

.header-title span {
  font-size: .7rem;
  margin-left: 15px;
}

.circle {
  width: 20px;
  height: 20px;
}

.listings-grid {
  overflow-x: auto;
}
  
 .listings-grid::-webkit-scrollbar {
   display: none;
}

.listings-grid .listings-col {
  margin-left: 0;
  padding: 0px;
}

.listings-grid-element {
  width: 100%;
  margin-top: 1rem;
  padding-right: 0;
}

.listings-grid-element img {
  height: 170px;
  max-height: 200px;
  border-radius: 12px;
}

.text {
  font-size: .5rem;
  flex-direction: column;
  border-bottom: none;
}

.text h3 {
  margin-top: 0;
}

.text-title {
  margin-bottom: .3rem;
}

.text-lower {
  display: none;
}

.info span {
  font-size: .7rem;
}

.rating {
  margin-left: 10px;
  height: 17px;
  margin-top: .4rem;
}

.rating .btnply {
  font-size: .7rem;
  border-radius: 22px;
  width: 100px;
}

.rating .btnply:hover {
  background: black;
  color: #ffffffd8;
}
}
